* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.searchContainer {
    margin-top: 50px;
    height: 500vh
}

.searchSection {
    height: 10vh;
    margin: 10px 0 0 50px;

}

.result {
    width: 90%;
    margin: auto;
    overflow-y: scroll;
}

.result li {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: scroll;
    object-fit: fill;
}