.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.caroselBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.returnLink {
    justify-content: center;
    gap: "20px";
}